/* common related style */
body{
    font-family: Merriweather;
}   
/* header related styles */
.first-banner{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 25px 50px 0 50px;
    background-image: url('../resources/Banner\ Image.png');
    
}
.first-banner-content{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}
.small-title{
    /* width: 250px;
    height: 40px; */
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 170px 530px 16px 530px;
    margin-bottom: 0;
}
.big-title{
    /* width: 632px; */
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding: 0 340px 170px 340px;
    margin-top: 0;
}
.discount{
    width: 1600px;
    height: 700px;
    background: #FFF;
    margin: 120px 50px 0 50px;
}
.discount-content{
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0;
    padding: 0 210px 0 210px;
}
.content{
    text-align: center;
}
.deal{
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}
.discount-title{
    color: #070211;
    /* text-align: center; */
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 19px;
    margin-bottom: 48px;
}
.new-year{
    text-align: center;
    /* padding: 48px 258px 0 258px; */
}