/* common related style */
body{
    font-family: Merriweather;
}   
/* header related styles */
.first-banner{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px 140px 0 140px;
    background-image: url('../resources/Banner\ Image.png');
    
}
.first-banner-content{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}
.small-title{
    /* width: 250px;
    height: 40px; */
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 170px 530px 16px 530px;
    margin-bottom: 0;
}
.big-title{
    /* width: 632px; */
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding: 0 340px 170px 340px;
    margin-top: 0;
}
.discount{
    width: 1600px;
    height: 700px;
    background: #FFF;
    margin: 120px 50px 0 50px;
}
.discount-content{
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0;
    padding: 0 210px 0 210px;
}
.content{
    text-align: center;
}
.deal{
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}
.discount-title{
    color: #070211;
    /* text-align: center; */
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 19px;
    margin-bottom: 48px;
}
.new-year{
    text-align: center;
    /* padding: 48px 258px 0 258px; */
}
.second-banner{
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    margin: 220px 140px 120px 140px;
    background-image: url('../resources/Vectorrr.png');
}
.second-banner-content{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.big-second-title{
    width: 642px;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    padding: 126px 94px 0 126px;
    margin-bottom: 24px;
}
.second-content{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 0  39px 0 126px;
    margin-top: 0;
    margin-bottom: 48px;
}
.second-banner-btn{
    padding: 0 601px 142px 158px;
    margin-top: 0;
    margin-bottom: 142px;
}
.btn-white{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    /* text-transform: uppercase; */
    border: 0;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.year-pic{
    display: flex;
width: 319.83px;
height: 464.662px;
padding: 67px 138px 68px 0px;
flex-direction: column;
justify-content: center;
align-items: center; 
/* background:  radial-gradient(50% 50% at 50% 50%, #690B02 27%, #8F4941 39%, #B18079 51%, #CDADA8 62%, #E3D1CD 73%, #F2EAE7 84%, #FCFAF6 93%, #FFFFFC 100%);
background-blend-mode: multiply;
mix-blend-mode: multiply; */

}
.occasion{
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px 140px 0 140px;
    text-align: center;
}
.occasion-schedule{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    padding: 100px 385px 0 385px;
}
.shcedule{
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}
.occasion-btn{
    display: inline-flex;
    gap: 10px;
    margin-top: 48px;
    padding: 0 576px 110px 576px;
}
.btn-red{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: #F00;
    padding: 16px 32px;
    border: 0;
    border-radius: 8px;
}
.sell{
    width: 1320px;
    height: 482px;
    background: #FFF;
    display: flex;
    margin: 120px 140px 0 140px;
}
.small-sell-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 104px 256px 0 0;
    margin-bottom: 0;

}
.big-sell-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding: 0 135px 0 0;
    margin-top: 16px;
    margin-bottom: 0;
}
.sell-content{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding: 0 70px 104px 0;
    margin-top: 24px;
    margin-bottom: 0;
}
.party{
    padding: 100px 108px 0 0;
}
.party-pic{
    width: 300px;
    height: 300px;
    border-radius: 463px;
    padding: 19px 19px 19px 19px;
    border: 10px solid #F00;

}
.new-year-sell-title{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding: 112px 0 0 0;
    margin-top: 0;
    margin-bottom: 16px;
}
.new-year-sell-content{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin-top: 0;
    margin-bottom: 43px;
}
.new-year-sell-img{
    width: 140px;
    height: 140px;
    padding: 0 136px 0 0;
    margin-top: 0;
    margin-bottom: 0;
}
.holiday-sale-update{
    width: 1320px;
    height: 800px;
    margin: 120px 140px 0 140px;
    background: #FFF;
}
.small-holiday-title{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}
.big-holiday-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-top: 0;
    margin-bottom: 28px;
}
.holiday{
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.holiday-content{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding: 0 126px 0 126px;
    margin-top: 0;
    margin-bottom: 64px;
}
.relative-absolute{
    text-align: right;
    /* display: flex; */
    position: relative;
    
        
}
.lady{
    width: 250px;
    height: 250px;
    position: absolute;
    right: 300px;
    top: 110px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.red-background{
    width: 1320px;
    height: 157px;
    border: 2px solid #F00;
    border-radius: 0 0 16px 16px;
    background: #F00;
    position: relative;
}
.mystery-box{
    width: 500px;
    height: 500px;
    /* position: relative; */
    position: absolute;
    bottom: 30px;
    padding:0 149px 0 149px;
}
.gifts-section{
    width: 1320px;
    height: 1115px;
    background: #FFF;
    margin: 240px 140px 0 140px;
}
.small-gift-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    margin-top: 0;
    margin-bottom: 16px;
}
.big-gift-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin-top: 0;
    margin-bottom: 22px;
}
.gift-content{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding: 0 424px 0 0;
    margin-top: 0;
    margin-bottom: 48px;
}
.gift-img{
    width: -5px;
    height: -5px;
    margin-right: 5px;
    border-radius: 16px;
}
.gift-img-two{
    width: -5px;
    height: -5px;
    margin-right: 5px;
    border-radius: 16px;
}
.gift-img:hover{
    border: 3px solid brown;
}
.gift-img-two:hover{
    border: 3px solid brown;
}
.subscribe{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 120px 140px 0 140px;
}
.letter{
    width: 150px;
    height: 150px;
    padding: 80px 585px 0 585px;
    margin-top: 0;
    margin-bottom: 40px;
}
.subscribe-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 22px;
}
.subscribe-content{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding: 0 212px 0 212px;
    margin-top: 0;
    margin-bottom: 48px;
}
.input-btn{
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px ;
    position: relative;
}
.input-email{
    
    right: 2px;
    width: 448px;
    height: 46px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    padding-left: 30px;
}
.input-subscribe{
    width: 210px;
    height: 52px;
    position: absolute;
    right: 224px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}